body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9e9999;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    border-color: #3a3939 ;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    padding: 10px;

    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color:#9e9999;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial,sans-serif;
  }